<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time Person of the Year</title>
    <link rel="stylesheet" href="~/styles/StyleSheet.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="home">
    <div class="book">
        <div class="logo">TIME</div>
        <div class="description">
            TIME <span>PERSON</span> OF THE YEAR.
                 <div>Enter in a time frame you would like to view below.</div> 
        </div>
        <form method="post">
            <input type="number" name="firstYear" min="1927" placeholder="Earliest: 1927" />
            <input type="number" name="secondYear" max="2016" placeholder="Latest: 2016" />
            <input type="submit" value="View" />
        </form>
    </div>
</body>
</html>